In [10]:
import csv
data = []
for i in range(456, 466):
    a = [336, i]
    data.append(a)

with open('label0ivat96.csv', 'a', newline="") as f: # write 0 coordinates in csv
    writer = csv.writer(f)
    writer.writerows(data)

In [1]:
import csv
import pandas as pd
a = pd.read_csv('feat_vect.csv', header=None)
b = pd.read_csv('feat_vect_0.csv', header=None)

In [2]:
a.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,255,255,255,255,89,89,89,255,255,255,...,255,255,255,255,255,255,255,255,255,1
1,255,255,255,255,104,104,104,255,255,255,...,255,255,255,255,255,255,255,255,255,1
2,255,255,255,255,99,99,99,255,255,255,...,255,255,255,255,255,255,255,255,255,1
3,255,255,255,255,207,207,207,255,255,255,...,255,255,255,255,255,255,255,255,255,1
4,255,255,255,255,109,109,109,255,255,255,...,255,255,255,255,255,255,255,255,255,1

In [3]:
cols = a.columns.tolist()
cols = cols[-1:] + cols[:-1]
a = a[cols]

In [4]:
a.head()

,49,0,1,2,3,4,5,6,7,8,...,39,40,41,42,43,44,45,46,47,48
0,1,255,255,255,255,89,89,89,255,255,...,255,255,255,255,255,255,255,255,255,255
1,1,255,255,255,255,104,104,104,255,255,...,255,255,255,255,255,255,255,255,255,255
2,1,255,255,255,255,99,99,99,255,255,...,255,255,255,255,255,255,255,255,255,255
3,1,255,255,255,255,207,207,207,255,255,...,255,255,255,255,255,255,255,255,255,255
4,1,255,255,255,255,109,109,109,255,255,...,255,255,255,255,255,255,255,255,255,255

In [5]:
cols = b.columns.tolist()
cols = cols[-1:] + cols[:-1]
b = b[cols]

In [6]:
b.head()

,49,0,1,2,3,4,5,6,7,8,...,39,40,41,42,43,44,45,46,47,48
0,0,1,0,1,7,255,255,255,1,1,...,2,2,0,255,255,255,255,2,2,1
1,0,1,1,0,7,255,255,255,7,7,...,2,2,1,255,255,255,255,2,2,1
2,0,7,7,7,0,255,255,255,255,255,...,2,2,1,255,255,255,255,2,2,1
3,0,255,255,255,255,0,1,2,255,255,...,2,2,1,255,255,255,255,2,2,1
4,0,255,255,255,255,1,0,2,255,255,...,2,2,1,255,255,255,255,2,2,1

In [8]:
b.to_csv('feat_vect0.csv', header=False, index=False)